@media screen and (max-width: 992px) {
/**************************Global*******************************/
    body {
        margin: 30px;
    }
/*************************Filters*******************************/
    .button:hover {
        transform: none;
    }
    .button:hover > p {
        letter-spacing: normal;
    }
    #animals {
        position: relative;
        left: 60px;
    }
/**********************Accomodations****************************/
    #accomodations-section {
        flex-direction: column-reverse;
        width: 885px;
        margin: 0;
    }
/************************Marseille******************************/
    #accomodations {
        width: 93.4%;
        margin-right: 0;
    }
    .card-link {
        width: 46%;
    }
    .fake-link:hover {
        letter-spacing: normal;
        transform: none;
    }
/*************************Populars******************************/
    #most-populars {
        width: 90%;
        margin: 30px 0;
        padding: 30px 60px;
    }
    .popular-header {
        margin-bottom: 15px;
    }
    #most-populars a {
        margin-bottom: 15px;
        width: 100%;
    }
/************************Activities*****************************/
    #display-activities {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 95%;
        height: 1100px;
        margin: auto;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: unset;
        width: 48%;

    }
    .a-third-col {
        height: 350px;
        margin-bottom: 15px;
    }
    .two-thirds-col {
        height: 350px;
        margin-bottom: 15px;
    }
    .col a {
        height: 350px;
        margin-bottom: 15px;
    }
    .act-img-container p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
        overflow: hidden;
    }
/**************************Footer*******************************/
    footer {
        flex-direction: column;
        flex-wrap: wrap;
        height: 530px;
    }
    footer div {
        width: 40%;
        margin-bottom: 35px;
    }
    footer div:nth-child(3) {
        left: unset;
    }
    footer .fake-link:hover {
        transform: none;
        letter-spacing: normal;
    }
}